
/* reset default styles*/
body,
p,
a,
ul,
li,h2,h1{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* base styles */
body {
    background: white;
    overflow-x: hidden;
}

@font-face {
    font-family: "Uber Move-bold";
    src: url("assets/fonts/bold.woff2");
}

@font-face {
    font-family: "Uber Move-medium";
    src: url("assets/fonts/medium.woff2");
}

@font-face {
    font-family: "Uber Move-regular";
    src: url("assets/fonts/text.woff2");
}

* {
    font-family: "Uber Move-regular" !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-weight: 400;
}

a{
    font-family: "Uber Move-medium" !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
    text-decoration: underline;
}
/* base styles end  */

/* header starts  */
header{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 14px 40px;
    min-width: 944px;
    max-width: 95.85%;
    z-index: 10;
    position: sticky;
    top: 0px;
    /* background-color: #ffffff; */
}

header .header-division{
    display: flex;
    flex-flow: row;
    column-gap: 22px;
    justify-content: space-between;
    align-items: center;
}

.header-division .logo-text{
    height: 16px;
}

.header-division.two{
    column-gap: 16px;
}
/* header ends  */

/* banner starts  */
.button{
    font-family: "Uber Move-medium" !important;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 12px;
    align-content: center;
    background-color: #ffffff;
}

.button.signup{
    background-color: #000000;
    color: #ffffff;
    padding: 10.2px 12.2px;
}

.banner{
    background-image: url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/c413f20400e04805.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    top: -64.7px;
    left: 0;
    display: flex;
    align-items: center;
}

.banner-content{
    /* position: absolute;
    top: 355.8px;
    left: 0; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 250px;
    min-width: 1024px;
    padding: 0 40px;
    margin-top: 2px;
}

.banner-title{
    font-family: "Uber Move-bold" !important;
    font-size: 52px;
    line-height: 64px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.banner-divs{
    display: flex;
    flex-flow: row;
    column-gap: 8px;
    align-items: center;
    margin-top: 40.5px;
    margin-bottom: 24px;
} 

.banner-divs>div{
    height: 26px;
}

.search-bar,.dropdown{
    background-color: #ffffff;
    padding: 15px 16px;
    display: flex;
    align-items: center;
    width: 468px;
}

.search-bar input{
    font-family: "Uber Move-medium" !important;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #5c5b5b;
    border-color: transparent;
    margin-left: 12px;
}

.dropdown{
    width: 163px;
    justify-content: flex-start;
    padding-right: 12px;
}

.dropdown p {
    font-family: "Uber Move-medium" !important;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 15.5px;
}

.banner-button{
    background-color: #000000;
    color: #ffffff;
    width: fit-content;
    padding: 15px 16.3px;
    border-radius: 8px;
}

.banner-button p{
    font-family: "Uber Move-medium" !important;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
}

.signin-link,.signin-link *{
    font-family: "Uber Move-medium" !important;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}
/* banner ends  */

/* image content starts  */
.image-section{
    cursor: pointer;
}

.image-section>div{
    display: flex;
    flex-flow: row;
    margin-top: 7px;
}
.section{
    display: flex;
    flex-flow: column;
    width: 33.333%;
    padding-right: 24px;
    box-sizing: border-box;
}

.section *{
    margin-top: 9px;
}

.section>h2{
    font-family: "Uber Move-bold" !important;
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
}

.section>a{
    margin-top: 8px;
}
/* image content ends  */

/* cities near me  */
.details{
    padding: 0 40px;
    min-width: 944px;
}

.details .heading{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.details .heading h1{
    font-family: "Uber Move-bold" !important;
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
}

.my-map{
    min-width: 944px;
    height: 360px;
    background-image: url("assets/images/uber_map.png");
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    margin-top: 23px;
    overflow: hidden;
}

.details .list{
    margin-top: 24px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    min-width: 944px;
    overflow: hidden;
}

.details .list ul{
    display: flex;
    flex-flow: column;
    row-gap: 24px;
    min-width: 218px;
    width: 100%;
}

.spacer{
    height: 80px;
}

/* footer start  */
footer{
    margin-top: 80px;
    padding-top: 72px;
    padding-bottom: 88px;
    border-top: 1px solid #f3f3f3;
}

footer>div{
    margin: 0 auto;
    padding: 0 40px;
    min-width: 1024px;
    max-width: 1280px;
    box-sizing: border-box;
}

.footer-sections{
    display: flex;
    flex-flow: row;
    padding-bottom: 40px;
    border-bottom: 1px solid #f3f3f3;
}

.footer-section-left{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-width: 472px;
    width: 100%;
    max-width: 600px;
    padding-bottom: 4px;
}

.footer-section-right{
    width: 100%;
    min-width: 472px;
    max-width: 600px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.footer-section-right ul{
    min-width: 236px;
    width: 100%;
}

.footer-section-right ul li{
    padding-bottom: 16px;
}

.footer-section-right ul .lang{
    padding-bottom: 0;
}

.footer-buttons{
    display: flex;
    column-gap: 16px;
}

.lang{
    display: flex;
    column-gap: 4.3px;
    align-items: center;
}

.lang *{
    display: inline;
}

.lang-img{
    height: 16px;
    width: 16px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer-bottom div{
    display: flex;
    flex-flow: column;
    row-gap: 16px;
    align-items: flex-end;
}

.footer-bottom div ul{
    display: flex;
    column-gap: 40px;
}

.footer-bottom .first ul{
    column-gap: 24px;
}

.footer-bottom li{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.footer-bottom .first ul li img{
    height: 16px;
    width: auto;
    width: 16px;
}
/* footer end  */
